<header>
    <img
        src="assets/img/Douglas.jpg" 
        alt="Douglas Klafke Scheibler - Foto de perfil"
        width="130px"
        height="130px"
        loading="eager">
        <h1>Douglas Klafke Scheibler</h1>
</header>


<aside>
    <div class="container">
      <p>Full-Stack Java | Spring | Javascript | Angular</p>
      <p>Florianópolis, Santa, Brasil</p>
      <p>
        Tenho como objetivo desenvolver e participar de projetos na área de tecnologia, os quais sejam desafiadores, contribuam para o meu aprendizado, bem como para a minha formação profissional, e que impactem positivamente na vida das pessoas. 
        No meu tempo livre, gosto de desenvolver projetos na área de automação, com sistemas embarcados e impressão 3D.
      </p>
      <p>
        Atualmente, atuo na Senior Sistemas como desenvolvedor full stack, trabalhando com o setor financeiro do nosso sistema ERPX onde utilizamos as tecnologias de back-end em Java e front-end Angular.
      </p>
  
      <nav>
        <ul>
          <li>
            <a href="assets/pdf/Currículo Douglas Klafke Scheibler.pdf" target="_blank" class="btn btn-primary">
              Download currículo
            </a>
          </li>
  
          <li>
            <a
              href="https://www.linkedin.com/in/douglasklafkescheibler/"
              target="_blank"
              class="btn btn-secondary"
            >
              LinkedIn
            </a>
          </li>
        </ul>
      </nav>
  
      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.svg"
            alt="Ícone para contato do WhatsApp"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a
              href="https://api.whatsapp.com/send?phone=5548988151239&text=Ol%C3%A1%20Douglas%2C%20tudo%20bem%3F%0AVi%20o%20seu%20curr%C3%ADculo%20e%20gostaria%20de%20te%20chamar%20para%20conversar%20sobre%20uma%20poss%C3%ADvel%20oportunidade."
              target="_blank"
            >
              <strong>Envie uma menssagem para:</strong>
              <p>WhatsApp: (48) 98815-1239</p>
            </a>
          </figcaption>
        </figure>
  
        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Ícone para contato do e-mail"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a href="mailto:douglasks99@gmail.com" target="_blank">
              <strong>Envie um e-mail para:</strong>
              <p>douglasks99&#64;gmail.com.br</p>
            </a>
          </figcaption>
        </figure>
      </section>
    </div>
  </aside>
  